

body {
    color: #000;
    background-color: #e4e4e4;
    font-size: 1em;
    line-height: 1.5;
    font-family: Tahoma;
}


.header-link, .info-block-link, .footer-link {
    cursor: pointer;
    text-decoration: none;
    color: #386d10;
}


.header {
    height: 64px;
    background-color: #223152;
    padding: 20px;
}
.header-logo {
    display: block;
    width: 64px;
    height: 64px;
    float: left;
    box-shadow: 0 5px 10px #87fffd;
    border-radius: 50%;
}
.header-logo:hover {
    cursor: pointer;
    box-shadow: 0 5px 10px #12f72e;
}


.header-menu {
    float: right;
    list-style: none;
}
.header-menu-list {
    display: inline;
}
.header-link {
    text-transform: uppercase;
    font-size: 0.6em;
    color: #fff;
    margin-left: 10px;
}
.header-link:hover {
    background-color: #0ee228;
    font-size: 0.6em;
    color: #ff000a;
    box-shadow: 0 5px 10px #87fffd;
    border-radius: 5%;
}


.info-block {
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 5px 10px #ccc;
}
.info-block:nth-child(odd) {
    background-color: #a9b169;
}
.info-block:nth-child(even) {
    background-color: #bec2c7;
}
.info-block-link:hover {
    color: #1908eb;
}

.card-photo {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}
.card-title {
    font-size: 1.4em;
    text-align: center;
    color: #131c86;
}

.card-text {
    font-size: 1em;
}

.subtitle {
    font-size: 1.2em;
    color: #386920;
}
.card-list {
    padding-left: 0;
    list-style-position: inside;
    font-size: 1em;
}

.card-list li {
    margin: 10px 0;
}





.footer {
    padding: 20px;
    background: #031f16;
    font-size: 14px;
}

.footer-link {
    color: #e2a700;
}

.footer-link:hover {
    color: #17e86b;
}


@media only screen and (min-width: 480px) {
/* Здесь стили более разумных, но все еще мобильных устройств. Android, iPhone  и так далее. */
}

@media only screen and (min-width: 768px) {
/* Планшеты в режиме portrait. */
}

@media only screen and (min-width: 992px) {
/* Планшеты в режиме landscape, нетбуки, ноутбуки, десктоп. */
}

@media only screen and (min-width: 1382px) {
/* Десктоп с большими разрешениями, телевизоры. */
}
