body {
    background-color: #9a89bb;
    font-size: 14px;
    line-height: 1.5;
    font-family: Tahoma;
}


.header {
    width: 100%;
    height: 100px;
    background-color: #3f51b5;
}
.header-logo {
    display: block;
    width: 64px;
    height: 64px;
    float: left;
    box-shadow: 0 5px 10px #87fffd;
    border-radius: 50%;
    margin: 10px;
    padding: 5px;
}
.header-logo:hover {
    cursor: pointer;
    box-shadow: 0 5px 10px #12f72e;

}
.header-menu {
    width: auto;
    height: 50px;
    float: right;
    list-style: none;
    margin: 30px auto;
}
.header-menu li {
    display: inline;
}
.header-link {
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    margin: 10px;
}
.header-link:hover {
    background-color: #0ee228;
    color: #110ee8;
    box-shadow: 0 5px 10px #87fffd;
    border-radius: 5%;
}



#card {
    width: 50%;
    padding: 20px;
    margin: 30px auto;
    background-color: #94b5e2;
    box-shadow: 0 5px 10px #ccc;
    border-radius: 10px;
}
.card-photo {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}
.card-title {
    font-size: 20px;
    text-align: center;
    color: #131c86;
}
.card-text {
    font-size: 14px;
}
.subtitle {
    font-size: 18px;
    color: #386920;
}
.card-list {
    padding-left: 0px;
    list-style-position: inside;
    font-size: 14px;
}


#crib {
    width: 50%;
    padding: 20px;
    margin: 30px auto;
    background-color: #f1cfcf;
    box-shadow: 0 5px 10px #ccc;
    border-radius: 10px;
}

#res {
    width: 50%;
    padding: 20px;
    margin: 30px auto;
    background-color: #94b5e2;
    box-shadow: 0 5px 10px #ccc;
    border-radius: 10px;
}


.footer {
    width: 100%;
    margin-top: 100px;
    background: #541c1c;
    height: 100px;
}

.footer p {
    padding: 20px 20px 20px 20px;
    color: #e2a700;
}
